@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;600&display=swap');

*{
    caret-color:transparent;
}
body {
    font-family: 'Poppins', sans-serif;
    
    color: white;
    caret-color: transparent;
}

.ab{
    text-align: center;
    justify-content: center;

}
.ab .dil{
    display: flex;
}

 h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: left;
    margin-bottom: 20px;
    width: 100%;
}
 p{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}
h6{
    ffont-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 0px;
}
 .dil{
    display: flex;
}
img{
    margin-top: 0px;
    width: 40%;
    height: 300px;
}

pre{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
   
}
